* {
    margin: 0;
    padding: 0;
    color: #c49e85;
}

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    block-size: clamp(1vw, 6vw, 6vw);
    inline-size: 100%;
    background-color: #0d00a4;
    border-block-end: 2px solid black;
}

nav .search-icon {
    inline-size: 3vw;
    margin-inline-end: 2vw;
    padding: 0.5vw;
    border-radius: 10%;
}

nav .search-icon:hover {
    cursor: pointer;
    background-color: #22007c;
}

nav a {
    margin-inline-start: 2vw;
    font-size: clamp(0.1vw, 1.2vw, 1.2vw);
    text-decoration: none;
}

nav a img {
    inline-size: clamp(0.5vw, 6vw, 6vw);
}

nav input {
    block-size: 3vw;
    inline-size: 20vw;
    margin-inline-end: 2vw;
    font-size: clamp(0.1vw, 1.2vw, 1.2vw);
}


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    block-size: 40vw;
    background-color: #140152;
}

footer .contacts {
    font-size: clamp(1vw, 2vw, 2vw);
    inline-size: 45%;
}

footer .location {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: clamp(1vw, 1.6vw, 1.6vw);
    inline-size: 45%;
}

footer .location .loc-icon {
    inline-size: clamp(1vw, 6vw, 6vw);
    padding-inline-end: 2vw;
}

main .copy {
    block-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d00a4;
    font-size: clamp(1vw, 2vw, 2vw);
}


@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        block-size: clamp(1vw, 12vw, 12vw);
        inline-size: 100%;
        background-color: #0d00a4;
        border-block-end: 4px solid black;
    }

    nav .search-icon {
        inline-size: 4vw;
        margin-inline-end: 2vw;
        padding: 1vw;
        border-radius: 10%;
    }

    nav .search-icon:hover {
        cursor: pointer;
        background-color: #22007c;
    }

    nav a {
        margin-inline-start: 2vw;
        font-size: clamp(0.1vw, 1.8vw, 1.8vw);
        text-decoration: none;
    }

    nav input {
        block-size: 3vw;
        inline-size: 40vw;
        margin-inline-end: 2vw;
        font-size: clamp(1vw, 2vw, 2vw);
    }

    footer .contacts {
        font-size: clamp(1vw, 2.4vw, 2.4vw);
        inline-size: 45%;
    }

    footer .location {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: clamp(1vw, 2vw, 2vw);
        inline-size: 45%;
    }

}