main {
    background-color: #140152;
}

main .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    block-size: 47vw;
    background-image: linear-gradient(#140152, #04052e);
}

main .hero h2 {
    font-size: clamp(0.1vw, 6vw, 6vw);
}

main .hero h4 {
    font-size: clamp(0.1vw, 3vw, 3vw);
}

main .unggulan {
    display: flex;
    flex-direction: column;
    align-items: center;
    block-size: auto;
    background-image: linear-gradient(#04052e, #140152);
    padding: 2vw;
}

main .unggulan h2 {
    font-size: clamp(1vw, 4vw, 4vw);
    padding-block-end: 10vw;
}

main .unggulan .isiUnggulan {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    inline-size: 98%;
}

main .unggulan .isiUnggulan .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1vw, 2vw, 2vw);
    inline-size: auto;
    block-size: auto;
    background-color: #22007c;
    padding: 2vw;
    border: 1px solid #c49e85;
    border-radius: 5%;
}

main .unggulan .isiUnggulan .box img {
    block-size: clamp(1vw, 20vw, 20vw);
    inline-size: clamp(1vw, 20vw, 20vw);
    object-fit: cover;
    object-position: center;
    margin-block-end: 2vw;
}

main .unggulan .isiUnggulan .box .isi p {
    padding-block-end: 5vw;
}

main .unggulan .isiUnggulan .box .isi a {
    padding: 1vw;
    font-size: clamp(1vw, 1.4vw, 1.4vw);
    background-color: #0d00a4;
    border-radius: 1vw;
    text-decoration: none;
}

main .unggulan .isiUnggulan .box .isi a:hover {
    cursor: pointer;
    background-color: #140152;
    color: #04052e;
}

@media (max-width: 768px) {
    main .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        block-size: 60vw;
        background-image: linear-gradient(#140152, #04052e);
    }

    main .unggulan .isiUnggulan {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        inline-size: 98%;
    }

    main .unggulan .isiUnggulan .box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        font-size: clamp(1vw, 4vw, 4vw);
        inline-size: auto;
        block-size: 94%;
        background-color: #140152;
        padding: 4vw;
        border: 1px solid #c49e85;
        border-radius: 5%;
    }

    main .unggulan .isiUnggulan .box img {
        block-size: clamp(1vw, 20vw, 20vw);
        inline-size: clamp(1vw, 20vw, 20vw);
        object-fit: cover;
        object-position: center;
        margin-block-end: 2vw;
    }

    main .unggulan .isiUnggulan .box .isi p {
        padding-block-end: 4vw;
    }

    main .unggulan .isiUnggulan .box .isi a {
        padding: 1.2vw;
        font-size: clamp(1vw, 1.6vw, 1.6vw);
        background-color: #04052e;
        border-radius: 1vw;
        text-decoration: none;
    }

    main .unggulan .isiUnggulan .box .isi a:hover {
        cursor: pointer;
        background-color: #140152;
        color: #04052e;
    }
}