body {
    background-color: #191308;
}

main {
    padding-block-start: 3vw;
    background-color: #140152;
}

main .results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vw;
}

main .results h2 {
    font-size: clamp(1rem, 3vw, 3vw);
    margin-block-end: 5vw;
}

main .results .isi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    inline-size: 98%;
}

main .results .isi .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 25%;
    margin-block-end: 6vh;
    block-size: auto;
    border-radius: 5%;
    padding: 2vw;
    background-color: #22007c;
    border: 1px solid #c49e85;
}

main .results .isi .box img {
    block-size: 20vw;
    inline-size: 20vw;
    object-fit: cover;
    object-position: center;
    margin-block-end: 1vw;
}

main .results .isi .box .isi {
    display: flex;
    flex-direction: column;
}

main .results .isi .box .isi h4 {
    font-size: clamp(1vw, 2vw, 2vw);
}

main .results .isi .box .isi p {
    font-size: clamp(1vw, 2vw, 2vw);
    padding-block-end: 1vw;
}

main .results .isi .box .isi a {
    font-size: clamp(1vw, 1.4vw, 1.4vw);
    padding: 1vw;
    background-color: #0d00a4;
    border-radius: 1vw;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

main .results .isi .box .isi a:hover {
    cursor: pointer;
    color: #322a26;
}


@media (max-width: 768px) {
    main {
        padding-block-start: 14vw;
        background-color: #191308;
    }

    main .results .isi .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        inline-size: 25%;
        block-size: auto;
        border-radius: 5%;
        padding: 1vw;
        background-color: #322a26;
        border: 1px solid #c49e85;
    }

    main .results .isi .box .isi h4 {
        font-size: clamp(1vw, 2vw, 2vw);
    }

    main .results .isi .box .isi p {
        font-size: clamp(1vw, 2vw, 2vw);
        padding-block-end: 4vw;
    }

    main .results .isi .box .isi a {
        font-size: clamp(1vw, 1.8vw, 1.8vw);
        padding: 1vw;
        background-color: #191308;
        border-radius: 1vw;
        text-decoration: none;
    }
}